version: "5"

services:
  flask:
    build: ./flask
    container_name: flask_dashboard
    restart: always

    ports:
      - "8000:8000"
      - "9000:9000"
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    container_name: redis_cache
    restart: always

    ports:
      - "6379:6379"
