<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Camera Test (CDN)</title>

<!-- ✅ Sizning CDN -->
<script src="https://ic3-camera-cantrol.moorfo.uz/cdn/camera-proctor.js"></script>
</head>

<body>

<button onclick="start()">Start</button>
<pre id="log"></pre>

<script>
const log = t => document.getElementById("log").textContent += t + "\n"

async function start() {
  try {
    await LiveKitProctor({
      tokenEndpoint: "https://ic3-camera-cantrol.moorfo.uz/token",
      user: "test-user"
    })
    log("LIVE")
  } catch (e) {
    log("ERROR: " + e.message)
  }
}
</script>

</body>
</html>
